<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="error_page">
        <figure class="about_img">
            <img src="img/404.jpg" alt="" class="error_img" title="SuperAk">
        </figure>
    </div>
    {{>footer}}
</body>

</html>