<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="about_page">
        <div class="rightside">

        </div>
        <div class="leftside">
            
        </div>
    </div>
    {{>footer}}
</body>

</html>